# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# ---- Virtual environment ----
venv/
env/
.venv/



# ---- Flask ----
instance/
.webassets-cache

# ---- Logs ----
*.log

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- IDE ----
.vscode/
.idea/

# ---- Test / cache ----
.pytest_cache/
.mypy_cache/
